a(name="content")
main 
     section.sample  
          button.buy_button Додаткова інформація
          section.card_info
               p Послуги з організації участі спортивних команд КП "МСК "Харків" у міських, районних та обласних змаганнях з футзалу, футболу та міні-футболу
               p КОМУНАЛЬНЕ ПІДПРИЄМСТВО «МУНІЦИПАЛЬНИЙ СПОРТИВНИЙ КЛУБ «ХАРКІВ» ХАРКІВСЬКОЇ МІСЬКОЇ РАДИ
               p Загальна очікувана вартість закупівлі	1`000`000.00 Гривня (без ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p Поточний ремонт асфальтобетонного покриття прибудинкової території житлового будинку по вул. Академіка Тутковського, 4 в м. Житомирі
               p Управління житлового господарства Житомирської міської ради
               p Загальна очікувана вартість закупівлі	212`500.00 Гривня (з ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p Послуги з ремонту і технічного обслуговування мототранспортних засобів і супутнього обладнання
               p Регіональна філія "Одеська залізниця" ПАТ "Укрзалізниця"	 
               p Загальна очікувана вартість закупівлі	1`172`425.99 Гривня (без ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p капітальний ремонт корпусу факультету кібернетики Київського національного університету імені Тараса Шевченка по проспекту Глушкова
               p Київський національний університет імені Тараса Шевченка
               p Очікувана вартість закупівлі	90`251`165.00 Гривня (з ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p Азот рідкий для підтримки та забезпечення життєдіяльності технологічного обладнання
               p Київський національний університет імені Тараса Шевченка
               p Загальна очікувана вартість закупівлі	578`400.00 Гривня (з ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p Стільці для забезпечення навчального процесу Київського національного університету імені Тараса Шевченка
               p Київський національний університет імені Тараса Шевченка
               p Очікувана вартість закупівлі	499`978.00 Гривня (з ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p Закупівлі обладнання та комплектуючих для оснащення лабораторії робототехніки та мікроелектроніки в приміщенні Київського національного університету імені Тараса Шевченка
               p КП "Група впровадження проекту з енергозбереження в адміністративних і громадських будівлях м. Києва"
               p Загальна очікувана вартість закупівлі	373`100.00 Гривня (з ПДВ)
     section.sample
          button.buy_button Додаткова інформація
          section.card_info
               p Лікарські засоби для потреб медичних кабінетів Київського національного університету імені Тараса Шевченка
               p Київський національний університет імені Тараса Шевченка
               p Очікувана вартість закупівлі	128`839.30 Гривня (з ПДВ)
     a(name="new_cargo")
     section.create_but
          button.buy_button_sample Пройти верефікацію