a(name = "footer")
footer
    article.article_footer
        div.logo_text
            div.logo
                a(href='#') 
                    h3 Тендер.онлайн
                    img(src=require('./images/footer3.jpg') alt="Motivation").logo_img_footer
        nav.footer_menu
            h3 Меню
            a Новини
            a Корисне
            a Вхід / Реєстраія
        div.address
            h3 Контакти
            p tender.online@gmail.com
            p +3806675752343
        nav.footer_menu
            h3 Соціальні Мережі
            a(href="facebook.com") Facebook
