a(name="header")
header
     section 
      section.headline
       img(src=require('./images/logotender.png') alt="Tender").logo_img
       h3 Тендери.онлайн
       section.menu
          nav.main_menu 
               a(href="#header") Новини
               a(href="#main") Корисне
               a(href="#new_cargo") Вхід / Реєстраія
               a(href="#footer") Контакти
     section.head_card_img
      section.head_card
          button.buy_button Додаткова інформація
          section.card_info
               h3 Найактивніша закупівля
               p Овочі, фрукти та горіхи
               p Долинський обласний центр соціальної підтримки дітей та сімей "Теплий дім" Івано-Франківської обласної ради
               p Очікувана вартість: 330`000.00 Гривня (з ПДВ)
          