@import 'mixin';

footer{
    border: 1px black solid;
    height: 500px;
    display: flex;
    background-color: rgb(119, 119, 119);
    @include font-size($p-font-size);
    @include flex();
    flex-direction: column;
      h2
    {
       font-family: 'Arial';
       @include font-size($h2-font-size);
       color: $white;
    }
        h3
    {
       font-family: 'Arial';
       @include font-size($h3-font-size + 6px);
       color: $white;
    }
    p
    {
        opacity: 80%;
        color:$white;
    }
    .img_logo_footer{
        height: 120px;
    }
}
@mixin column()
{
            @include flex();
            gap:10px;
            flex-direction: column;
            align-items: flex-start;
}
.article_footer{
        @include flex();
        align-items: flex-start;
        width: 100%;
        margin-top: $margin;
        .logo_text
        {
            @include column();
            margin-left: $margin;
          
        }
        .logo
        {
            span:nth-child(1)
            {
                color:$white;
            }
        }
        .footer_menu
        {
            @include column();
             margin-left: $margin;
            
      a
     {
        font-family: 'Noto sans';
        @include font-size($p-font-size);
        @include a($white,$orange);
       text-decoration: none;
       opacity: 80%;
     }
     
    }
    .address
     {
         @include column();
        margin-left: $margin;
     }
}